.dashboard {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-image: url("../images/wood.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    top: 0px;
    position: absolute;
}

.logoContainer {
    margin-bottom: 50px;
}

.logoContainer img {
    padding: 50px;
    background-color: white;
    border: 6px solid black;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashBtn {
    font-size: 24px;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    background: none;
    border: white 3px solid;
    color: white;
    letter-spacing: 4px;
}

.dashBtn:hover {
    transition: ease-in-out;
    transition-duration: .3s;
    border: black 3px solid;
    color: white;
    background-color: black;
}

.dashBtn a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 992px) and (-webkit-min-device-pixel-ratio: 2) {
    .logoContainer img {
        height: 600px;
        width: 600px;
    }
    .dashBtn {
        font-size: 36px;
        letter-spacing: 6px;
    }
}