.navbar {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
}

.bg-inverse {
    background-color: black !important;
}

.footContainer {
    min-height: 50px;
    z-index: 1000;
    text-align: center;
    color: white;
    background-color: black;
    width: 100%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.designed {
    color: dimgrey;
    margin-right: 20px;
}

.designed a {
    color: dimgrey;
}

.copy {
    margin-left: 20px;
}

.icons i {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 40px;
    color: white;
}

.icons i:hover {
    color: goldenrod;
}

.hide {
    display: none;
}

.fade {
    animation: fadein 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
        filter:grayscale(100%);
        
    }
    96% {
        opacity: 1;
        filter:grayscale(0%);
    }
    100% {
        opacity: 1;
        filter:grayscale(0%);
    }
}