.bg-inverse{
    background-color:black !important;
}

.footContainer{
    z-index: 1000;
    text-align: center;
    color: white;
    background-color: black;
    position: fixed;
    width: 100%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.designed{
    margin-right: 20px;
}

.copy {
    margin-left: 20px;
}