<head>
    <!---- CSS Files --->
    <link rel="stylesheet" src="../../css/home.css">
    <link rel="stylesheet" src="../../css/about.css">
    <link rel="stylesheet" src="../../css/contact.css">
    <link rel="stylesheet" src="../../css/gallery.css">
</head>

<body>
    <div class="homeDiv">
        <h1 id="#home">Home</h1>
        <!--- Logo, Company Name, Carousel --->
    </div>
    <div id="#about" class="aboutDiv">
        <h1>About</h1>
        <!--- We need some dope shit to put about the company here, something real gimicky --->
    </div>
    <div id="#gallery" class="galleryDiv">
        <h1>Gallery</h1>
        <!--- This is where that app comes in... gotta be able to post albums here that expand into modals w/ carousels... maybe a directive to handle the modal's view? --->
    </div>
    <div id="#contact" class="contactDiv">
        <h1>Contact</h1>
        <!---- A map, some basic contact info, and that form shit --->
    </div>
</body>