<div class="card" ng-repeat="card in cards">
    <img class="card-img-top cardimage" ng-src="./images/avantimages/{{card.coverImage}}" alt="Card image cap">
    <div class="card-block">
        <h4 class="card-title">{{card.projectName}}</h4>
        <p class="card-text">{{card.description}}</p>
        <button class="btn modalbutton" data-toggle="modal" data-target=".modal1">View Album</button>
    </div>
</div>

<div class="modal fade modal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <h3 class="modaltitle">{{card.projectName}}</h3>
            <div class="cardImages" ng-repeat="image in card.images">
                <img class="cardImage" src="./images/avantimages/{{card.image}}">
            </div>
        </div>
    </div>
</div>